kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "docker-registry.serviceAccountName" . }}
rules:
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get","list","patch","update","watch"]
- apiGroups: ["apps"]
  resources: ["deployments/status"]
  verbs: ["get","list","watch"]